body{
    background-color: #e0e0e0;
}


.photos > img{
    padding: 3px;
    margin: 15px;
    border: 5px solid purple;
    background-color: #fff;
    height: 150px;
    width: 150px;
}

.modal{
    touch-action: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0, 0.91);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.hidden{
    display: none;
}

.modal-picture{
    background-color: #fff;
    max-width: 100%;
    max-height: 100%;
    z-index: 20;
}




.appearance{
    animation: appearance 0.5s;
}

@keyframes appearance{
    0%{
        opacity: 0;
        transform: translateY(-150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.toRight{
    animation: right 0.5s;
}

.toLeft{
    animation: left 0.5s;
}

@keyframes right{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes left{
    0%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0);
    }
}